body {
    background-color: aqua;
    text-align: center;
}
ol {
    margin: 0px 10px;
    flex-wrap: wrap;
}
 .border {
    border: 2px solid #222;
    border-radius: 60px;
    padding: 10px 100px;
    flex-wrap: wrap;
} 
