*{
    margin: 0;
    padding: 0;

}

.box {
    height: 30vw;
    width: 30vw;
}
.box img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}